<!-- Reactive form approach(import ReactiveFormsModule in app.module) -->
<section class="login-form">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
       <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" name="email" matInput formControlName="email">
        <mat-hint>Please enter a valid email.</mat-hint>
        <mat-error>Invalid, or missing email.</mat-error>
       </mat-form-field>

       <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" name="password" matInput formControlName="password">
        <mat-hint>Please enter you password.</mat-hint>
        <mat-error>Missing password</mat-error>
       </mat-form-field>

       <button type="submit" [disabled]="loginForm.invalid" color="primary" mat-raised-button>Submit</button>

    </form>
</section>